<section class="projects section" id="projects">
    <h2 class="section-title">Mes <span>Projets</span></h2>
    <div class="projects-container container grid">
        {% for project in projects %}
            {% set projectInfo = {
                title: project.title,
                description: project.description,
                images: project.images,
                tech: project.techStack,
                githubUrl: project.githubUrl
            }|json_encode %}
            <article class="projects-card">
                <img src="{{ asset('images/' ~ project.images[0]) }}" alt="{{ project.title }}" class="projects-img" />
                <div class="projects-modal">
                    <h2 class="projects-title">{{ project.title }}</h2>
                    <p class="projects-description">{{ project.description }}</p>
                    <div class="projects-tech">
                        {% for tag in project.techStack|slice(0, 3) %}
                            <span class="tech-tag">{{ tag }}</span>
                        {% endfor %}
                    </div>
                    <button class="projects-button"
                            data-action="project-modal#open"
                            data-project-info="{{ projectInfo }}">
                        Voir le projet <i class="ri-eye-line"></i>
                    </button>
                </div>
            </article>
        {% endfor %}
    </div>
</section>
